<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testing.org/testng-1.0.dtd">
<suite thread-count="2"
       name="Sauce Demo"
       parallel="tests">

    <test name="test 1">
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>

    <test name="test 2">
        <classes>
            <class name="tests.ProductTest" />
            <class name="tests.CartTest" />
        </classes>
    </test>
</suite>